* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 10px 20px;

}

.container-logo {
    display: inline-block;
    vertical-align: middle;
}

#logo {
    width: 70px;
}

#title {
    font-size: 60px;
}

main {
    background-color: rgb(246, 248, 249);
    padding: 40px 0px;
}

.container {
    width: 65%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.container-button {
    border-bottom: 3px solid rgb(246, 248, 249);
    padding: 15px 15px 10px 30px;
}

.button {  
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
}

#add-task {
    border: none;
    color: white;
    background-color: rgb(98, 172, 243);
}

#add-section {
    background-color: white;
    color: rgb(210, 214, 218);
    border: 1px solid rgb(98, 203, 208);
}

.container-list {
    padding: 35px;
}

li {
    list-style-type: none;
}

.title-list {
    font-size: 20px;
    font-weight: 600;
}

.list-item {
    margin-left: 10px;
    margin-top: 5px;
}

.box {
    border-radius: 5px;
    display: inline-block;
    padding: 0px 5px;
    font-size: 10px;
    color: white;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
}

dl:last-child {
    margin-bottom: 20px;
}

#editorial {
    background-color:rgb(96, 170, 229);
}

#q1-goals {
    background-color: rgb(149, 119, 221);
}

#recruiting {
    background-color: rgb(123, 190, 170);
}

#mobile {
    background-color: rgb(231, 161, 75);
}

#website {
    background-color: rgb(202, 107, 159);
}

#sales{
    background-color: rgb(181, 199, 73);
}